<!DOCTYPE html>
<html>
  <head>
    <title>Add a new movie</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add a new movie</h1>

    <br> <br>
    <a href="/">Back to menu</a>
  </body>
</html>
