<div class="row mt-5 justify-content-md-center">
    <div class="card-body">
        <h1 class="text-center mb-3">
            Add New User
        </h1>
        <a href="/menu/manage/" class="btn btn-secondary mr-1">All Users</a>
        <a href="/menu/manage/addUser" class="btn btn-secondary disabled">Add User</a>
        <div class="card mt-2" style="width: 20rem;">
            <div class="card-body">
                <% include ./partials/messages.ejs %>
                <form action="/menu/manage/addUserForm" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                                type="name"
                                id="name"
                                name="name"
                                class="form-control"
                                placeholder="Enter Name"
                                value="<%= typeof name != 'undefined' ? name : '' %>"
                        />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                                type="email"
                                id="email"
                                name="email"
                                class="form-control"
                                placeholder="Enter Email"
                                value="<%= typeof email != 'undefined' ? email : '' %>"
                        />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                                type="password"
                                id="password"
                                name="password"
                                class="form-control"
                                placeholder="Create Password"
                                value="<%= typeof password != 'undefined' ? password : '' %>"
                        />
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input
                                type="password"
                                id="password2"
                                name="password2"
                                class="form-control"
                                placeholder="Confirm Password"
                                value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                        />
                    </div>

                    <div class="form-group">
                        <input class="form-group-input" type="radio" name="isAdmin" id="role1" value="true" checked>
                        <label class="form-group-label mb-lg-2" for="role1">
                            User
                        </label>
                    </div>

                    <div class="form-group">
                        <input class="form-group-input" type="radio" name="isAdmin" id="role2" value="true">
                        <label class="form-group-label mb-lg-2" for="role2">
                            Admin
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">
                        Register
                    </button>
                </form>
            </div>
        </div>
        <a href="/menu" class="btn btn-secondary mt-2">Back to menu</a>
    </div>
</div>

