<!DOCTYPE html>
<html>
  <head>
    <title>Movie movie Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All movie Page</h1>
    <% movies.forEach(function(m){ %>
      <il><%= m.name %></il>
    <% }); %>

  </body>
</html>
