<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/alert_login.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login Page</h1>
    <% if(message != '') { %>
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= message %>
      </div>
    <% } %>

    <form action="/auth" method="post">
      User Name : <input type="text" name="userName"> <br> <br>
      Password : <input type="password" name="password"> <br> <br>
      <input type="submit" name="action" value="Sign in" />
      <input type="submit" name="action" value="Register" />
    </form>
  </body>
</html>
