<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <%= message %>
        <br>
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/img/icon-256x256.png" id="icon" alt="User Icon" />
        </div>
        <br>
        <!-- Login Form -->
        <form action="/signIn" method="post">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Register -->
        <div id="formFooter">
            <a class="underlineHover" href="/registration">Sign Up</a>
        </div>

    </div>
</div>
</body>
</html>