<!DOCTYPE html>
<html>
  <head>
    <title>Menu Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Menu Page</h1>
    <a href="search">Search for movie</a><br>
    <a href="add">Add movie</a><br>
    <a href="/users">Manage users</a><br>

  </body>
</html>
