

    <h1>Welcome, <%= name %> to Menu Page</h1>
    <a href="/menu/logout" class="btn btn-secondary">Logout</a>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top p-3" src="/img/pngwing.com.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Search for movie</h4>
            <p class="card-text">
              Filter genres and languages to dig through movies in our database to find what you are looking for.
              Search boxes within categories help narrow down the characteristic you are looking for.
            </p>
            <a href="/menu/search" class="btn btn-primary btn-lg btn-block">Go Search</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top p-3" src="/img/1574017-removebg-preview.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Add a new movie</h4>
            <p class="card-text">
              Adding new titles to collection is simple and straightforward.
              Just supply the necessary information and the title will be sent in.
            </p>
            <a href="/menu/add" class="btn btn-primary btn-lg btn-block">Go Add</a>
          </div>
        </div>
      </div>
      <% if(isAdmin) { %>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top p-3" src="/img/4812793-removebg-preview.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">User Management Console</h4>
            <p class="card-text">
              Create new users or edit the existing one.
              This is also where you can set them as Active / Inactive.
              You can define one or more Roles for each user.
            </p>
            <a href="/menu/manage" class="btn btn-primary btn-lg btn-block">Go Manage</a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
