<!DOCTYPE html>
<html>
  <head>
    <title>Movie Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Movie Page</h1>
    <%= movie.name %>
  </body>
</html>
