<!DOCTYPE html>
<html>
  <head>
    <title>Search Result Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
  <body>
    <h1>Result Page</h1>
    <h2>Search parameters: <%= params %></h2>
    <button onclick="goBack()">Go Back</button>
    <ol>
      <% movie.forEach(function(m) { %>
        <li><a href="/<%= m.id %>"><%= m.name %></a>  </li>
      <% }); %>
    </ol>
  </body>
</html>
