<!DOCTYPE html>
<html>
  <head>
    <title>Search for movie</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Search for movie</h1>
    <form action="/s" method="post">
      Title: <input type="text" name="title"> <br> <br>
      <input type="submit"> <br> <br>
    </form>
    <%= message %>
    <a href="/">Back to menu</a>
  </body>
</html>
