<!DOCTYPE html>
<html>
  <head>
    <title>Search Result Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Search Result Page</h1>

        Title: <%= movie.name %> <br>

  </body>
</html>
