body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mt-100 {
  margin-top: 100px
}

/*body {*/
/*  background: #00B4DB;*/
/*  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);*/
/*  background: linear-gradient(to right, #0083B0, #00B4DB);*/
/*  color: #514B64;*/
/*  min-height: 100vh*/
/*}*/
